h1{
    text-align: center;
    text-decoration: wavy underline;
    color: black;
}

body{
    background-color: #0af7b4;
}

p{
    text-decoration: line-through;
    text-align:justify;
    color: black;
}

pre{
    text-align: end;
    text-decoration: #c80af7 dotted overline;
}

a{
    text-decoration: none;
}

