body{
    background-color: #a302fa;
    color: #fa024d;
}

h1{
    background-color: black;
    color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#one{
    font-family: cursive;
}

#two{
    font-family: fantasy;
}