*{
    font-size: large;
    font-family: cursive;
}

div{
    background-color: gold;
    height: 200px;
    width: 200px;
}

#box2{
    background-color: crimson;
}

#box3{
    background-color: dodgerblue;
}

@media (width: 600px) {
    #box1{
        background-color: chartreuse;
    }
}

@media (max-width:600px) {
    #box2{
        background-color: chocolate;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    #box3 {
        background-color: blueviolet;
    }
}

